@theme {
  --text-button-xl: 16px;
  --text-button-xl--line-height: 1.1;
  --text-button-xl--font-weight: 700;

  --text-button-lg: 16px;
  --text-button-lg--line-height: 1.1;
  --text-button-lg--font-weight: 700;

  --text-button-md: 14px;
  --text-button-md--line-height: 1.1;
  --text-button-md--font-weight: 700;

  --text-button-sm: 12px;
  --text-button-sm--line-height: 1.1;
  --text-button-sm--font-weight: 700;
}
